$primaryColor: #e6ae48;
$secondaryColor: #000000;
$fontColor: #d6d6d6;
$gray: #e8e8e8;
$lightGray: #c1c1c1;
$darkGray: #818181;
$whiteColor: #ffffff;
$greenColor: #62af26;
$redColor: #ed301c;
$searchColor: #9e9a95;

$sliderFontTitle: 'Dancing Script', cursive;
$sliderFontSpan: 'Lobster', cursive;
