block variables

include ../component/carousel.pug
include ../component/product.pug
include ../component/breadcrumb.pug
include ../component/rating.pug
include ../component/tab.pug
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(content="", name="description")
        meta(content="", name="keywords")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Font
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet")
        // Font Awesome
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css", rel="stylesheet")
        // Bootstrap
        link(href="./css/bootstrap.min.css", rel="stylesheet")
        // Styles
        link(href="./css/main.css", rel="stylesheet")

        title= title + " | Wine Shop"
    body
        block header 
            include ../partials/header.pug
        block main 
        block footer
            include ../partials/footer.pug
        script(src="./assets/lib/jquery-slim.min.js")
        script(src="./assets/lib/popper.min.js")
        script(src="./assets/lib/bootstrap.min.js")
