extends ./base/base.pug

block variables
    - const title = 'Trang chủ'
    - const current = '/'
    include ./data/index_data.pug

include ./component/carousel.pug
include ./component/product.pug
include ./component/blog.pug
block main 
    section.intro 
        .intro_main.col-lg-6.text-center 
            h1.title Giới thiệu 
            p.intro_text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, autem totam tempore alias minima officia vitae fugiat soluta similique iusto, laboriosam eligendi non ab atque aperiam molestias distinctio, libero eaque quos sed? Libero cum deleniti error laudantium? Facere, perspiciatis, placeat ipsam eos ad alias libero corporis, nostrum optio praesentium similique recusandae qui minus soluta mollitia harum sunt rerum dolores! Repellendus doloremque ipsa distinctio accusantium officia a tenetur, eveniet perspiciatis quia.
            a.btn.btn-intro Xem thêm
    section.s-product 
        .container 
            .s-product_bg 
                .s-product_main.row 
                    .col-md-7
                        .product_img
                            .tag.s-sale.s-tag 
                            img(src="./assets/images/signature-product.jpg", alt="signature product")
                    .col-md-5
                        .s-product_info
                            h3.s-product_info_title Rượu nho năm 1987
                            .s-product_info_price 
                                p 300.000
                            btn.btn.btn-add Add to cart 
                            p.s-product_info_desc  Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.
                            .s-product_info_countdown.text-center
                                .row 
                                    each item in countdown 
                                        - const {number, unit} = item
                                        .s-product_info_countdown_item.col-lg-6.text-center 
                                            span.number= number
                                            p.unit= unit
    //- new-product
    section.n-product 
        .container 
            .n-product_title.col-lg-12.text-center 
                h3.title Sản phẩm mới 
            .n-product_item
                +carouselMulti("item", 4, new_product)
    section.categories 
        .container-fluid 
            .row 
                each item in categories 
                    - const {title, year, img} = item
                        .col-lg-3.p-0 
                            .categories_item.view.overlay
                                .categories_img(style= "background-image: url(./assets/images/" +img +")")
                                    .categories_text.text-center
                                        span= year 
                                        h2= title           
    //- bestseller-product
    section.bs-product 
        .container 
            .col-lg-12.text-center
                h3.title Sản phẩm bán chạy
            .bs-product_item 
                 +carouselMulti("bs-item", 4, bestseller_product)
    section.content-bottom 
        .container 
            .row 
                .col-lg-8
                    .text-center
                        h3.title tin tức &amp; blog 
                    .news.row 
                        each item in blogs
                            - const {title, img, desc, author, date, comments} = item
                            .col-lg-6 
                                +blog(title, img, desc, author, date, comments)
                .col-lg-4 
                    .text-center 
                        h3.title khách Hàng
                    .customer.row.flex-column.text-center.justify-content-center.align-items-center
                        span.fas.fa-quote-right
                        p.customer_content Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên  từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn, Vang nổ đỏ Thăng Long...
                        a.btn-readmore(href="#") Read more
                        .col-6 
                            +carouselCustomer('customer', customers[0].img, customers)
