- 
    var footer_brand_items = [
        {
            img: 'brand-1.png',
            alt: 'Brand Logo Wine 1'
        },
        {
            img: 'brand-2.png',
            alt: 'Brand Logo Wine 2'
        },
        {
            img: 'brand-3.png',
            alt: 'Brand Logo Wine 3'
        }
    ]
- 
    var footer_main_items = [
        {
            title: 'Thông tin',
            items: [
                {
                    title: 'Về chúng tôi',
                    link: '#'
                },
                {
                    title: 'Giao hàng',
                    link: '#'
                },
                {
                    title: 'Cảm nghĩ',
                    link: '#'
                },
                {
                    title: 'Lưu trữ',
                    link: '#'
                },
                {
                    title: 'Chính sách riêng tư',
                    link: '#'
                }
            ]
        },
        {
            title: 'Mua hàng',
            items: [
                {
                    title: 'Vận chuyển và trả hàng',
                    link: '#'
                },
                {
                    title: 'Mua hàng an toàn',
                    link: '#'
                },
                {
                    title: 'Vận quốc tế',
                    link: '#'
                },
                {
                    title: 'Liên kết',
                    link: '#'
                },
                {
                    title: 'Dịch vụ giảm giá',
                    link: '#'
                }
            ]
        },
    ]
