- 
    var header_top_items = [
        {
            title: 'Tài khoản của tôi',
            link: '/account.html'
        },
        {
            title: 'Trạng thái đơn hàng',
            link: '/order.html'
        },
        {
            title: 'Danh sách ưa thích',
            link: '#'
        },
        {
            title: 'Giỏ hàng',
            link: '/cart.html'
        },
        {
            title: 'Đăng nhập',
            link: '/login.html'
        },
        {
            title: 'Đăng ký',
            link: '/register.html'
        }
    ];

- 
    var navbar_items = [
        {
            title: 'Trang chủ',
            link: '/'
        },
        {
            title: 'Rượu vang đỏ',
            link: '/products.html', 
            hasSubmenu: true
        },
        {
            title: 'Rượu trắng',
            link: '#',
            hasSubmenu: true
        },
        {
            title: 'Champagne',
            link: '#',
            hasSubmenu: true
        },
        {
            title: 'Thông tin',
            link: '/about.html'
        },
        {
            title: 'Blog',
            link: '/blog.html'
        },
        {
            title: 'Liên hệ',
            link: '/contact.html'
        }
    ];
- 
    var header_carousel_items = [
        {
            img: 'slide-1.jpg',
            title:'Rượu',
            year:'1980',
            subtitle:'Vang Đỏ'
        },
        {
            img: 'slide-2.jpg',
            title:'Rượu',
            year:'1980',
            subtitle:'Vang Trắng'
        },
        {
            img: 'slide-3.jpg',
            title:'Rượu',
            year:'1980',
            subtitle:'Champagne'
        }
    ];

- 
    var submenu_items = [
        {
            title: 'Rượu ngoại',
            items: ['Rượu Chivas', 'Hàng độc - Rượu độc đáo', 'Johnnie Walker', 'Rượu Whisky', 'Rượu Remy Martin', 'Rượu Glenmorangie']
        },
        {
            title: 'Rượu vang',
            items: ['Rượu Chivas', 'Hàng độc - Rượu độc đáo', 'Johnnie Walker', 'Rượu Whisky', 'Rượu Remy Martin', 'Rượu Glenmorangie']
        },
        {
            title: 'Rượu ngoại',
            items: ['Rượu Chivas', 'Hàng độc - Rượu độc đáo', 'Johnnie Walker', 'Rượu Whisky', 'Rượu Remy Martin', 'Rượu Glenmorangie']
        }
    ];
