- 
    var categories = [
        {
            title: 'Rượu',
            year: '1987',
            img: 'gallery-1.jpg'
        },
        {
            title: 'Rượu',
            year: '1997',
            img: 'gallery-2.jpg'
        },
        {
            title: 'Rượu',
            year: '1989',
            img: 'contact.jpg'
        },
        {
            title: 'Rượu',
            year: '1990',
            img: 'slide-1.jpg'
        },
        {
            title: 'Rượu',
            year: '2000',
            img: 'gallery-3.jpg'
        },
        {
            title: 'Rượu',
            year: '1975',
            img: 'slide-2.jpg'
        },
        {
            title: 'Rượu',
            year: '1978',
            img: 'VINSUAL04.jpg'
        },
        {
            title: 'Rượu',
            year: '1999',
            img: 'slide-3.jpg'
        }
    ];
-
    var countdown =  [
        {
            number: '334',
            unit: 'Ngày'
        },
        {
            number: '26',
            unit: 'Giờ'
        },
        {
            number: '60',
            unit: 'Phút'
        },
        {
            number: '15',
            unit: 'Giây'
        },
    ]
-
    var new_product = [
        {
            name: 'rượu vang đà lạt',
            img: '9.jpg',
            type: 'sale',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '10.jpg',
            type: 'new',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '11.jpg',
            type: 'hot',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '12.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '8.jpg',
            type: 'sale',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '7.jpg',
            type: 'new',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '6.jpg',
            type: 'hot',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '5.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
    ]
-
    var customers = [
        {
            img: "timthumb-1.jpg",
            title: "Giang LT",
            subtitle: "Graphic design"
        },
        {
            img: "timthumb-2.jpg",
            title: "Hien NT",
            subtitle: "Frontend developer"
        },
        {
            img: "timthumb-3.jpg",
            title: "Linh PT",
            subtitle: "Backend developer"
        }
    ]
