-
    var categories = [
        {
            title: 'Rượu',
            year: '1987',
            img: 'gallery-1.jpg'
        },
        {
            title: 'Rượu',
            year: '1997',
            img: 'gallery-2.jpg'
        },
        {
            title: 'Rượu',
            year: '1989',
            img: 'contact.jpg'
        },
        {
            title: 'Rượu',
            year: '1990',
            img: 'slide-1.jpg'
        },
        {
            title: 'Rượu',
            year: '2000',
            img: 'gallery-3.jpg'
        },
        {
            title: 'Rượu',
            year: '1975',
            img: 'slide-2.jpg'
        },
        {
            title: 'Rượu',
            year: '1978',
            img: 'VINSUAL04.jpg'
        },
        {
            title: 'Rượu',
            year: '1999',
            img: 'slide-3.jpg'
        }
    ]
-
    var countdown =  [
        {
            number: '334',
            unit: 'Ngày'
        },
        {
            number: '26',
            unit: 'Giờ'
        },
        {
            number: '60',
            unit: 'Phút'
        },
        {
            number: '15',
            unit: 'Giây'
        },
    ]
-
    var new_product = [
        {
            name: 'rượu vang đà lạt',
            img: '9.jpg',
            type: 'sale',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '10.jpg',
            type: 'new',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '11.jpg',
            type: 'hot',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '12.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '8.jpg',
            type: 'sale',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '7.jpg',
            type: 'new',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '6.jpg',
            type: 'hot',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '5.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
    ]
-
    var bestseller_product = [
        {
            name: 'rượu vang đà lạt',
            img: '1.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '2.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '3.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '4.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '5.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '6.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '7.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '8.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
    ]
-
    var categories = [
        {
            title: 'Rượu',
            year: '1987',
            img: 'gallery-1.jpg'
        },
        {
            title: 'Rượu',
            year: '1997',
            img: 'gallery-2.jpg'
        },
        {
            title: 'Rượu',
            year: '1989',
            img: 'VINSUAL07.jpg'
        },
        {
            title: 'Rượu',
            year: '1990',
            img: 'slide-1.jpg'
        },
        {
            title: 'Rượu',
            year: '2000',
            img: 'gallery-3.jpg'
        },
        {
            title: 'Rượu',
            year: '1975',
            img: 'slide-2.jpg'
        },
        {
            title: 'Rượu',
            year: '1978',
            img: 'VINSUAL04.jpg'
        },
        {
            title: 'Rượu',
            year: '1999',
            img: 'slide-3.jpg'
        }
    ]
-
    var customers = [
        {
            img: "timthumb-1.jpg",
            name: "Giang LT",
            job: "Graphic design"
        },
        {
            img: "timthumb-2.jpg",
            name: "Hien NT",
            job: "Frontend developer"
        },
        {
            img: "timthumb-3.jpg",
            name: "Linh PT",
            job: "Backend developer"
        }
    ]
-
    var blogs = [
        {
            title: 'VANG THĂNG LONG CLASSIC',
            img: 'gallery-1.jpg',
            desc: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comments: [
                {
                    name: 'Giangle',
                    time: '2',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '3',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '6',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        },
        {
            title: 'VANG THĂNG LONG CLASSIC',
            img: 'gallery-2.jpg',
            desc: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.\nVang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comments: [
                {
                    name: 'Giangle',
                    time: '4',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '5',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '6',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        },
    ]
