-
    var breadcrumb= [
        {
            page: 'Trang chủ',
            link: '/'
        },
        {
            page: ' Sản phẩm',
            link: '/product.html'
        },
        {
            page: ' Rượu vang đỏ',
            link: '/product-detail.html'
        },
    ]
-
    var product_detail = [
        {
            imgSmall: [
                {
                    img: '13.jpg',
                    imgAlt: 'product 13',
                },
                {
                    img: '12.jpg',
                    imgAlt: 'product 12',
                },
                {
                    img: '11.jpg',
                    imgAlt: 'product 11',
                },
                {
                    img: '10.jpg',
                    imgAlt: 'product 10',
                },
                {
                    img: '9.jpg',
                    imgAlt: 'product 9',
                },
            ],

            name: 'rượu nho năm 1987',
            price: '330.000',
            rating: 3.5,
            reviewCount: 1,
            colors: [
                'yellow',
                'black',
                'red'
            ],

            desc: 'Một hợp chất có trong rượu vang gọi là resverato alabatrap a có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        }
    ]
-
    var tab = [
        {
            tabs: [
                {
                    title: 'Đặc điểm nổi bật',
                    desc: 'Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.',
                    active: true,
                },
                {
                    title: 'Thông tin sản phẩm',
                    desc: 'Đừng nghĩ  vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.'
                },
                {
                    title: 'Đánh giá',
                    desc: ' chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.'
                },
            ],
            img: 'gallery-1.jpg',
            imgText: 'RƯỢU NHO'
            
        }
    ]
-
    var bestseller_product = [
        {
            name: 'rượu vang đà lạt',
            img: '1.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '2.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '3.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '4.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '5.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
        {
            name: 'rượu vang đà lạt',
            img: '6.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '7.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
            {
            name: 'rượu vang đà lạt',
            img: '8.jpg',
            price: '370.000',
            oldPrice: '450.000',
            link: '/product-detail.html',
        },
    ]
-
    var product = [
        {
            category: [
                {
                    type: 'Rượu ngoại',
                    list: [
                        {
                            name: 'Rượu Chivas',
                            quantity: 26
                        },
                        {
                            name: 'Hàng độc - Rượu độc đáo',
                            quantity: 36
                        },
                        {
                            name: 'Johnnie Walker',
                            quantity: 46
                        },
                        {
                            name: 'Rượu Whisky',
                            quantity: 24
                        },
                        {
                            name: 'Rượu Remy Martin',
                            quantity: 16
                        },
                        {
                            name: 'Rượu Glenmorangie',
                            quantity: 11
                        },
                        {
                            name: "Rượu Ballantine's",
                            quantity: 7
                        },
                        {
                            name: 'Rượu Cognac',
                            quantity: 40
                        },
                        {
                            name: 'Rượu Vodka',
                            quantity: 93
                        },
                        {
                            name: 'Rượu Chivas',
                            quantity: 26
                        },
                        {
                            name: 'Rượu Macallan',
                            quantity: 19
                        },
                        {
                            name: 'Rượu Brandy',
                            quantity: 62
                        },
                        {
                            name: 'Rượu Hennessy',
                            quantity: 20
                        },
                        {
                            name: 'Rượu Gin - Tequila - Liqueur - Rượu mùi',
                            quantity: 36
                        },
                        {
                            name: 'Rượu Champagne',
                            quantity: 12
                        },
                        {
                            name: 'Rượu Single malt Scotch whisky',
                            quantity: 47
                        },
                        {
                            name: 'Rượu Spirits',
                            quantity: 4
                        }
                    ]
                },
                {
                    type: 'Rượu vang',
                    list: [
                        {
                            name: 'Rượu Vang Pháp',
                            quantity: 44
                        },
                        {
                            name: 'Rượu Vang Úc',
                            quantity: 34
                        },
                        {
                            name: 'Rượu Vang Mỹ',
                            quantity: 16
                        },
                        {
                            name: 'Rượu Vang Chile',
                            quantity: 48
                        },
                        {
                            name: 'Rượu Vang Philip',
                            quantity: 1
                        },
                        {
                            name: 'Rượu Vang Nam Phi',
                            quantity: 20
                        },
                        {
                            name: 'Rượu Vang Ý',
                            quantity: 2
                        }
                    ]
                }
            ],
            tags: ["Đồng hồ", "Túi", "Phụ kiện", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Trẻ em", "Thời trang nữ"],
            list: [
                {
                    img: '1.jpg',
                    imgAlt: 'product 1',
                    link: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
                    
                },
                {
                    img: '2.jpg',
                    imgAlt: 'product 2',
                    link: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
                    
                },
                {
                    img: '3.jpg',
                    imgAlt: 'product 3',
                    link: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
                    
                },
                {
                    img: '4.jpg',
                    imgAlt: 'product 4',
                    link: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
                    
                },
                {
                    img: '5.jpg',
                    imgAlt: 'product 5',
                    link: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
                    
                },
                {
                    img: '6.jpg',
                    imgAlt: 'product 6',
                    link: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
                    
                },
                {
                    img: '7.jpg',
                    imgAlt: 'product 7',
                    link: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
                    
                },
                {
                    img: '8.jpg',
                    imgAlt: 'product 8',
                    link: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
                    
                },
                {
                    img: '9.jpg',
                    imgAlt: 'product 9',
                    link: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
                    
                },
            ], 
        }
    ]
